<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rapp.digital-understudy</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__RUNTIME__/digital_understudy.py</string>
    <string>--loop</string>
    <string>--interval</string>
    <string>3600</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__HOME__</string>
    <key>UNDERSTUDY_START_BARRIER</key>
    <string>__HOME__/.rappter-chrome/.understudy-start-barrier</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>60</integer>
  <key>Umask</key>
  <integer>63</integer>
  <key>StandardOutPath</key>
  <string>__HOME__/.rappter-chrome/understudy.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/.rappter-chrome/understudy.stderr.log</string>
</dict>
</plist>
